.container {
    padding: 0 clamp(15px, 6vw, 140px);
    max-width: 1600px;
    margin: 0 auto 130px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.header__menu {
    display: flex;
    gap: clamp(12px, 3vw, 40px);
}

.header__link {
    color: var(--main-color);
    font-size: 20px;
    transition: color 0.3s ease;
}

.header__link:hover {
    color: var(--accent-color);
}

.header__button {
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    padding: 17px 57px;
    font-size: 24px;
    transition: color 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
}

.header__button:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.header__burger-button {
    display: none; 
}

.hero__container {
    display: flex;
    justify-content: space-between;
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 550px;
    gap: 40px;
}

.hero__title-group {
    display: flex;
}

.hero__title {
    font-size: 64px;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    margin: 0;
}

.hero__decor {
    width: 140px;
    position: absolute;
    right: 45px;
    top: 20px;
}

.hero__text {
    font-size: 24px;
    color: var(--accent-color);
    line-height: 1.5;
}

.hero__button {
    background-color: var(--main-color);
    color: #ffffff;
    border: none;
    border-radius: 15px;
    padding: 32px 118px;
    font-size: 36px;
    max-width: 438px;
    transition: background-color 0.3s ease;
}

.hero__button:hover {
    background-color: var(--accent-color);
}

.skills__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0;
    padding: 0;
}

.skills__card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.skills__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.skills__title {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 1px;
}

.skills__item {
    background-color: #F5F5F5;
    border-radius: 10px;
}

.skills__card-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 460px;
    padding: 0px 44px 68px;
}

.item__speaking .skills__card-image {
    width: 390px;
    align-self: center;
}

.item__writing .skills__card-image {
    width: 290px;
    align-self: flex-end;
}

.item__reading .skills__card-image {
    width: 370px;
    align-self: flex-end;
    margin: auto;
}

.item__listening .skills__card-image {
    width: 382px;
    margin: auto;
}

.skills__card-title {
    font-size: 30px;
    color: var(--main-color);
    font-weight: 600;
    margin: 0;
}

.skills__card-text {
    font-size: 16px;
    font-weight: 400;
    color: var(--accent-color);
    margin: 0;
    line-height: 1.5;
}

.skills__card-button {
    background-color: var(--main-color);
    border: none;
    color: #ffffff;
    max-width: 230px;
    border-radius: 5px;
    padding: 17px 54px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.skills__card-button:hover {
    background-color: var(--accent-color);
}

.item__speaking {
    grid-area: 1 / 1 / 3 / 2;
}

.item__writing {
    grid-area: 1 / 2 / 2 / 3;
}

.item__reading {
    grid-area: 1 / 3 / 2 / 4;
}

.item__listening {
    grid-area: 2 / 2 / 3 / 4;
}

.skills__card-row {
    display: flex;
    flex-direction: row-reverse;
}

.skills__card--listening {
    padding-top: 40px;
}

.about-us__container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 50px;
}

.about-us__title {
    font-size: 48px;
    font-weight: 600;
    grid-area: 1 / 1 / 2 / 2;
    margin: 0;
    padding-top: 50px;
}

.about-us__image {
    width: 500px;
    grid-area: 1 / 2 / 3 / 3;
    justify-self: end; 
}

.about-us__content {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    max-width: 630px;
}

.about-us__text {
    font-size: 20px;
    font-weight: 400;
    color: var(--accent-color);
    line-height: 1.5;
}

.about-us__number {
    font-size: 48px;
    font-weight: 600;
    color: var(--main-color);
    margin: 0;
}

.about-us__label {
    font-size: 20px;
    color: var(--accent-color);
}

.about-us__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.about-us__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__container {
    display: flex;
    flex-direction: column;
}

.pricing__title {
    font-size: 48px;
    font-weight: 600;
    align-self: center;
}

.pricing__list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 0;
    padding: 0;
}

 .pricing__card {
    display: flex;
    flex-direction: column;
    max-width: 391px;
    height: 100%;
    justify-content: space-between;
    gap: 30px;
}

.pricing__image-wrapper {
    height: 340px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.pricing__image {
    max-width: 100%;
    max-height: 100%;
}

.pricing__card-title {
    font-size: 30px;
    font-weight: 600;
    color: var(--main-color);
    margin: 0;
}

.pricing__text {
    font-size: 20px;
    line-height: 1.3;
    color: var(--accent-color);
    margin: 0;
}

.pricing__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    border-radius: 5px;
    background-color: #EEEEEE;
    width: 240px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    padding: 5px 10px;
}

.pricing__button-price {
    font-size: 30px;
    color: var(--main-color);
}

.pricing__button-info {
    font-size: 18px;
    color: #546269;
} 

.pricing__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
}

.pricing__button:hover {
    background-color: var(--accent-color);
    color: #ffffff;
} 

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
    border: 0;
}

.contact-us__container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 20px;
    column-gap: 80px;
}

.contact-us__title {
    grid-area: 1 / 2 / 2 / 3;
    font-size: 48px;
    font-weight: 600;
    margin: 0;
    align-self: self-end;
}

.contact-us__image {
    grid-area: 1 / 1 / 4 / 2;
}

.contact-us__content {
    grid-area: 2 / 2 / 4 / 3;
    display: flex;
    flex-direction: column;
    max-width: 775px;
    gap: 30px;
}

.contact-us__text {
    font-size: 20px;
    line-height: 1.3;
    color: var(--accent-color);
}

.contact-us__form {
    display: flex;
    gap: 10px;
}

.contact-us__input {
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
    border-color: var(--accent-color);
    padding: 23px 35px;
}

.contact-us__button {
    width: 100%;
    max-width: 264px;
    border-radius: 10px;
    background-color: var(--main-color);
    font-size: 20px;
    border: none;
    color: #FFFFFF;
    max-width: 264px;
    transition: background-color 0.3s ease;
}

.contact-us__button:hover {
    background-color: var(--accent-color);
}

.footer__container {
    display: flex;
    padding-top: 30px;
    border-top: 1px solid #C4C4C4;
    align-items: center;
}

.footer__list {
    display: flex;
    justify-content: end;
    width: 100%;
    list-style-type: disc;
    gap: 23px;
}

.footer__list li:nth-child(1) {
    list-style: none;
}

.footer__item {
    color: var(--accent-color);
    font-size: 24px;
    font-weight: 400;
    margin-left: 10px;
}

@media (max-width: 1336px) {
    .hero__content {
        max-width: 400px;
        gap: 20px;
    }

    .hero__artwork {
        width: 500px;
    }

    .hero__decor {
        width: 80px;
        right: 40px;
        top: 20px;
    }

    .hero__title {
        font-size: 48px;
    }

    .hero__text {
        font-size: 20px;
    }

    .hero__button {
        padding: 22px 78px;
        font-size: 24px;
        max-width: 292px;
        border-radius: 10px;
    }

    .item__speaking .skills__card-image {
        width: 260px;
    }

    .item__writing .skills__card-image {
        width: 205px;
    }

    .item__reading .skills__card-image {
        width: 243px;
    }

    .item__listening .skills__card-image {
        width: 254px;
    }

    .skills__card-button {
        max-width: 198px;
        padding: 17px 42px;
    }

    .about-us__text {
       font-size: 16px; 
    }

    .about-us__number {
        font-size: 30px;
    }

    .about-us__label {
        font-size: 16px;
    }

    .about-us__container {
        column-gap: 30px;
    }

    .pricing__card {
        gap: 20px;
    }

    .pricing__content {
        gap: 20px;
    }

    .pricing__image-wrapper {
        height: 240px;
    }

    .pricing__list {
        gap: 30px;
    }

    .pricing__button {
        max-width: 205px;
        
    }
} 

@media (max-width: 992px) { 
    .header__logo {
       width: 89px;
       height: 45px;
    }

    .header__link {
        font-size: 16px;
    }

    .header__button {
        padding: 12px 40px;
        font-size: 18px;
    }

    .hero__content {
        max-width: 330px;
        gap: 20px;
    }

    .hero__decor {
        width: 60px;
        right: 30px;
    }

    .hero__artwork {
        width: 400px;
    }

    .hero__title {
        font-size: 36px;
    }

    .hero__text {
        font-size: 16px;
    }

    .hero__button {
        padding: 19px 67px;
        font-size: 18px;
        max-width: 236px;
        border-radius: 5px;
    }

    .skills__card-content {
        padding: 0px 17px 37px;
    }

    .skills__card {
        justify-content: space-between;
    }

    .skills__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .item__speaking {
        grid-area: 1 / 1 / 2 / 2;
    }

    .item__writing {
        grid-area: 1 / 2 / 2 / 3;
    }

    .item__reading {
        grid-area: 2 / 1 / 3 / 2;
    }

    .item__listening {
        grid-area: 2 / 2 / 3 / 3;
    }

    .item__speaking .skills__card-image {
        margin: auto;
    }

    .item__writing .skills__card-image {
        width: 280px;
        align-self: center;
        margin: auto;
    }

    .item__reading .skills__card-image {
        align-self: center;
    }

    .item__listening .skills__card-image {
        align-self: center;
    }

    .skills__card-row {
        flex-direction: column;
    }

    .about-us__title {
        font-size: 36px;
        padding: 0;
    }

    .about-us__image {
        width: 336px;
    }

    .about-us__text {
        margin: 0;
    }

    .about-us__title {
        padding-bottom: 10px;
    }

    .pricing__title {
        font-size: 36px;
    }

    .pricing__card-title {
        font-size: 22px;
    }

    .pricing__text {
        font-size: 16px;
    }

    .pricing__button-price {
        font-size: 24px;
    }

    .pricing__button-info {
        font-size: 16px;
    }

    .pricing__button {
        width: 180px;
        padding: 5px 5px;
    }

    .contact-us__title {
        font-size: 36px;
    }

    .contact-us__text {
        font-size: 16px;
    }

    .contact-us__image {
        width: 312px;
    }

    .contact-us__input {
        max-width: 323px;
    }

    .contact-us__button {
        max-width: 193px;
        font-size: 16px;
    }

    .contact-us__content {
        gap: 20;
    }

    .footer__item {
        font-size: 16px;
        margin-left: 5px;
    }
}

@media (max-width: 770px) {
    .header__nav {
        display: none;
    }

    .header__button {
        display: none;
    }

    .header__burger-button {
        display: flex;
        flex-direction: column;
        background: transparent;
        border: none;
        gap: 5px;
    }

    .stick {
        width: 38px;
        height: 3px;
        background-color: var(--main-color);
        border-radius: 2px;
    }

    .stick3 {
        width: 28px;
    }

    .hero__container {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .hero__content {
        max-width: 100%;
        gap: 10px;
        align-items: center;
    }

    .hero__artwork {
        width: 444px;
    }

    .hero__title {
        font-size: 34px;
        letter-spacing: 2px;
    }
     
    .hero__decor {
        display: none;
    }

    .hero__text {
        max-width: 570px;
    }

    .hero__button {
        padding: 24px 102px;
        font-size: 18px;
        max-width: 305px;
    }

    .item__speaking .skills__card-image {
        width: 185px;
    }

    .item__writing .skills__card-image {
        width: 215px;
    }

    .item__reading .skills__card-image {
        width: 198px;
    }

    .item__listening .skills__card-image {
        width: 200px;
    }

    .skills__card-title {
        font-size: 20px;
    }

    .skills__card-text  {
        font-size: 12px;
    }

    .skills__card-button {
        max-width: 200px;
        font-size: 14px;
    }

    .about-us__container {
        display: flex;
        flex-direction: column;
    }

    .about-us__title {
        align-self: center;
    }

    .about-us__image {
        align-self: center;
    }

    .about-us__text {
        text-align: center;
    }

    .about-us__list {
        justify-content: space-around;
    }

    .about-us__number {
        font-size: 26px;
    }

    .about-us__label {
        font-size: 16px; 
    }

    .pricing__title {
        font-size: 30px;
    }

    .pricing__card-title {
        font-size: 20px;
    }

    .pricing__text {
        font-size: 14px;
    }

    .pricing__button-price {
        font-size: 15px;
    }

    .pricing__button-info {
        font-size: 12px;
    }

    .pricing__button {
        width: 140px;
    }

    .pricing__card {
        gap: 10px;
    }

    .pricing__content {
        gap: 10px;
    }

    .contact-us__title {
        font-size: 30px;
    }

    .contact-us__text {
        font-size: 14px;
    }

    .contact-us__image {
        width: 233px;
    }

    .contact-us__input {
        max-width: 283px;
        border-radius: 5px;
        font-size: 13px;
        padding: 16px 24px;
    }

    .contact-us__button {
        max-width: 145px;
        font-size: 16px;
        border-radius: 5px;
    }

    .contact-us__content {
        gap: 20;
    }

    .footer__item {
        font-size: 13px;
        margin-left: 0;
    }
}

@media (max-width: 599px) {
    .pricing__list {
        flex-direction: column;
        align-self: center;
        padding: 0;
    }

    .pricing__card {
        max-width: 351px;
        gap: 20px;
    }

    .pricing__card-title {
        font-size: 24px;
        align-self: center;
    }

    .pricing__text {
        text-align: center;
    }

    .pricing__button {
        align-self: center;
    }

    .contact-us__container {
        display: flex;
        flex-direction: column;
    }

    .contact-us__title {
        align-self: center;
    }

    .contact-us__image {
        align-self: center;
    }

    .contact-us__content {
        text-align: center;
    }

    .contact-us__form {
        width: 100%;
        align-self: center;
        gap: 0;
    }

    .contact-us__input {
        max-width: 511px;
    }

    .contact-us__button {
        max-width: 193px;
    }

    .contact-us__title {
        margin-bottom: 30px;
    }

    .footer__container {
        flex-direction: column;
        gap: 30px;
    }

    .footer__list {
        margin: 0;
        padding: 0;
        justify-content: center;
    }

    .footer__item {
        font-size: 11px;
    }
}

@media (max-width: 469px) {
    .hero__artwork {
        width: 300px;
    }

    .hero__title {
        font-size: 24px;
        letter-spacing: 1px;
    }

    .hero__text {
        font-size: 16px;
    }

    .hero__button {
        padding: 18px 99px;
        font-size: 16px;
        max-width: 289px;
    }

    .skills__list {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .item__speaking .skills__card-image {
        width: 213px;
    }

    .item__writing .skills__card-image {
        width: 205px;
    }

    .item__reading .skills__card-image {
        width: 236px;
    }

    .item__listening .skills__card-image {
        width: 232px;
    }

    .skills__card {
        max-width: 300px;
    }

    .about-us__title {
       font-size: 30px;
       margin-bottom: 30px;
    }

    .about-us__image {
        width: 283px;
        margin: 15px 0 30px;
    }

    .about-us__text {
        font-size: 13px;
    }

    .about-us__list {
        flex-direction: column;
    }

    .about-us__item {
        gap: 10px;
    }

    .about-us__label {
        margin: 0 0 40px;
    }

    .pricing__title {
        font-size: 24px;
    }

    .pricing__card-title {
        font-size: 18px;
    }

    .pricing__text {
        font-size: 13px;
    }

}